<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zfl.recipe">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".RecipeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/nav_recipe_category_13"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".recipe.RecipeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".recipe_detail.RecipeDetailActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".recipe_about.RecipeAboutActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".recipe_favor.RecipeFavorActivity" android:screenOrientation="portrait"></activity>

    </application>

</manifest>